@import '_vars';
*{
    padding:0;
    margin:0;
}

body{
    margin:0;
    height:100vh;
    font-family:$mainFont;
}

header{
    position:fixed;
    z-index:1000;
    display:flex;
}

.logo{
    color:white;
    padding:10px;
    text-decoration:none;
}

#landing{

    height:100vh;
    background:black;
    background-size:cover;
    background-attachment: fixed;
    overflow:hidden;
    overflow:none;
    position:relative;
    z-index: 1;
 

}

#title{
 
    height:300px;
    width:350px;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
     h1{
       
       font-size:3em;
     }
   }

.btn{
   display:block;
    background-color:black;
    color:white;
    border-radius:5px;
    border:none;
    letter-spacing: 0.25em;
   font-size:0.8em;
    padding:1em;
    margin:1em;
     transition: 500ms;
    border: 1px solid #b1b6f3;
    }

    .btn:hover{
        color:black;
        background:white;
        box-sizing:border-box;
      }

#title, a{
    color:white;
    text-decoration:none;
    text-align:center;
}


//product description

.section2 {
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 2em 0 2em;

  }
//product page

#itemArea{
  
    color:white;
    height:300px;
    width:350px;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:grid;
    grid-template-columns: 1fr 1fr;

  h1{
      text-align: center;
  }
}

.desc{
    grid-column:2;
}

.bottle{
    justify-self: center;
}





